@model PapayaX2.Database.rs_user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>rs_user</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsBackEnd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsBackEnd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FlagActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FlagActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserEntry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserEntry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateEntry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateEntry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserUpdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserUpdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateUpdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rs_company.CompanyCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rs_company.CompanyCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rs_user_group.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rs_user_group.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
