@model PapayaX2.Models.SystemModel

@section Styles {
    <link href="@Url.Content("~/Content/assetdetails.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Asset Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Notification"] != null)
{
    @Html.Raw(TempData["Notification"].ToString());
}

<div class="mdl-grid">
    <h5 class="mdl-cell mdl-cell--12-col">T/R - @Html.DisplayFor(model => model.System.TrackingNo)</h5>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--4-col-phone">
        <div class="mdl-grid" style="padding: 0;">
            <div class="mdl-cell mdl-cell--7-col mdl-cell--4-col-phone">
                <div class="asset-section-head">
                    Main Info
                </div>
                <div class="mdl-card mdl-shadow--2dp">
                    <table class="main-asset-table">
                        <tr>
                            <th>Description</th>
                            <td>@Html.DisplayFor(model => model.System.Desciption)</td>
                        </tr>
                        <tr>
                            <th>Model</th>
                            <td>@Html.DisplayFor(model => model.System.Model)</td>
                        </tr>
                        <tr>
                            <th>Serial Number</th>
                            <td>@Html.DisplayFor(model => model.System.SerialNumber)</td>
                        </tr>
                        <tr>
                            <th>Availability</th>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <th>Owner</th>
                            <td>Lewis</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone">
                <div class="asset-section-head">
                    Asset Picture
                </div>
                <div class="asset-img mdl-shadow--2dp">
                    <img src="css/images/he300.jpg" alt="">
                </div>
                <div class="mdl-card mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Add to Basket
                    </a>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <div class="asset-section-head2">
                    Other Info
                </div>
                <div class="mdl-card mdl-shadow--2dp sub-asset-wrapper">
                    <ul>
                        <li>
                            <table class="sub-asset-table">
                                <tr>
                                    <th>Location of Origin</th>
                                    <td>RSMY-KL</td>
                                </tr>
                                <tr>
                                    <th>Current Location</th>
                                    <td>RSMY-KL</td>
                                </tr>
                                <tr>
                                    <th>System</th>
                                    <td>Non System</td>
                                </tr>
                                <tr>
                                    <th>Division</th>
                                    <td>@Html.DisplayFor(model => model.System.DivId)</td>
                                </tr>
                                <tr>
                                    <th>Hardware Options</th>
                                    <td>@Html.DisplayFor(model => model.System.HardwareOpt)</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table class="sub-asset-table">
                                <tr>
                                    <th>Software Options</th>
                                    <td>@Html.DisplayFor(model => model.System.SoftwareOpt)</td>
                                </tr>
                                <tr>
                                    <th>Firmware</th>
                                    <td>@Html.DisplayFor(model => model.System.SoftwareVer)</td>
                                </tr>
                                <tr>
                                    <th>Licence Expiry Date</th>
                                    <td>@Html.DisplayFor(model => model.System.LicenseExpiry)</td>
                                </tr>
                                <tr>
                                    <th>Subsystem</th>
                                    <td>l</td>
                                </tr>
                                <tr>
                                    <th>Remarks</th>
                                    <td>@Html.DisplayFor(model => model.System.Remarks)</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="asset-section-head2">
                    Selling Status &amp; Health Info
                    <button id="adv-en" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab advanced-plus">
                        <i class="material-icons" style="font-size: 0.5em;">add</i>
                    </button>
                    <button id="adv-di" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab advanced-plus-en">
                        <i class="material-icons" style="font-size: 0.5em;">remove</i>
                    </button>
                </div>
                <div id="extrainfo" class="mdl-card mdl-shadow--2dp sub-asset-wrapper">
                    <ul>
                        <li>
                            <table class="sub-asset-table">
                                <tr>
                                    <th>Ready to Sell</th>
                                    <td>@Html.DisplayFor(model => model.System.ReadyToSell)</td>
                                </tr>
                                <tr>
                                    <th>Purchase Date</th>
                                    <td>@Html.DisplayFor(model => model.System.PurchaseDate)</td>
                                </tr>
                                <tr>
                                    <th>Purchase Price</th>
                                    <td>@Html.DisplayFor(model => model.System.PurchasePrice)</td>
                                </tr>
                                <tr>
                                    <th>Purchase PO / Carnet No</th>
                                    <td>@Html.DisplayFor(model => model.System.PurchasePO)</td>
                                </tr>
                                <tr>
                                    <th>Decomission Date</th>
                                    <td>@Html.DisplayFor(model => model.System.DecomDate)</td>
                                </tr>
                                <tr>
                                    <th>Decommission Reason</th>
                                    <td>@Html.DisplayFor(model => model.System.DecomReason)</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table class="sub-asset-table">
                                <tr>
                                    <th>Is Tagged?</th>
                                    <td>@Html.DisplayFor(model => model.System.Tagged)</td>
                                </tr>
                                <tr>
                                    <th>Is Damaged?</th>
                                    <td>@Html.DisplayFor(model => model.System.Damaged)</td>
                                </tr>
                                <tr>
                                    <th>Last Calibration Date</th>
                                    <td>@Html.DisplayFor(model => model.System.LastCalibrated)</td>
                                </tr>
                                <tr>
                                    <th>Next Calibration Date</th>
                                    <td>@Html.DisplayFor(model => model.System.CalibrationCycle)</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class=" asset-section-head2 ">
                    Active Booking
                </div>
                <div class="table-outer mdl-shadow--2dp ">
                    <table class="active-booking-table mdl-data-table mdl-js-data-table ">
                        <thead>
                            <tr>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Requestor</th>
                                <th>Remarks</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2015-04-01</td>
                                <td>2015-04-01</td>
                                <td>Lewis</td>
                                <td>-</td>
                                <td>Returned</td>
                            </tr>
                            <tr>
                                <td>2015-04-01</td>
                                <td>2015-04-01</td>
                                <td>Lewis</td>
                                <td>-</td>
                                <td>Returned</td>
                            </tr>
                            <tr>
                                <td>2015-04-01</td>
                                <td>2015-04-01</td>
                                <td>Lewis</td>
                                <td>-</td>
                                <td>Returned</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone ">
        <div class="mdl-grid " style="padding: 0; ">
            <div class="mdl-cell mdl-cell--12-col ">
                <div class="asset-section-head ">
                    Related Systems
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#adv-di, #extrainfo").hide();

        $("#adv-en").click(function () {
            $("#adv-en").hide();
            $("#adv-di, #extrainfo").show();
        });

        $("#adv-di").click(function () {
            $("#extrainfo, #adv-di").hide();
            $("#adv-en").show();
        });
    });
</script>